<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>屏幕共享</title>
</head>

<body>
	<div>
		<h3 style="margin: 5px">其它人分享的屏幕</h3>
		<video style="width: 90vh; height: 90vh;" id="remoteVideo" poster="https://img.icons8.com/dusk/64/000000/monitor.png"  autoplay muted></video>
	</div>

	<!-- Button to leave Screen Sharing. -->
	<div class="box">
		<button id="leaveButton" style="background-color: #008CBA; color: white; ">Leave Screen Sharing</button>
	</div>
	<script type="text/javascript" th:inline="javascript">
		var room=[[${room}]];
	</script>
	<script type="text/javascript" src="js/r.js?reloads=true" th:src="@{js/r.js?reloads=true}"></script>
</body>
</html>